nav .navbar-nav li a{
  color: white !important;
  font-family: Arial;
  }

.navbar-brand {
  font-family: Arial;
}

#accordion{
  padding-top: 100px;
  width: 50%;
  text-align: center;
  margin-left: 25%
}

#myprojects {
  padding-top, padding-bottom: 50px;
  font-family: Serif;
  text-align: center;
  font-style: italic;
}

#ebayimage, #emailimage, #networkimage {
  width: 100%;
  text-align: center;
}

#projectrow1 {
  margin-left: 12%;
  margin-right: 12%;
  padding-bottom: 50px;
  padding-top: 50px;
}
