nav .navbar-nav li a{
  color: white !important;
  font-family: Arial;
  }

.navbar-brand {
  font-family: Arial;
}

#accordion{
  padding-top: 100px;
  width: 50%;
  text-align: center;
  margin-left: 25%
}

#myprojects {
  padding-top, padding-bottom: 50px;
  font-family: Impact;
  text-align: center;
  font-style: italic;
  background-color: red;
  color: white;
}

.card-img-top float-right {
  width: 100%;
  text-align: center;
}

#projectrow1, #projectrow2 {
  margin-left: 12%;
  margin-right: 12%;
  padding-bottom: 50px;
  padding-top: 50px;
}

h5, p, .text-muted {
  font-family: Arial;
}

#githublink {
  background-color: purple;
  color: white;
  width: 50%;
  margin-bottom: 10px;
}

#youtubelink, #obviousalert {
  color: red;
  background-color: white;
}

.contactpic {
  width: 100px;
}

#contactme {
  text-align: center;
  font-family: Arial;
}
